apiVersion: v1
kind: Service
metadata:
  name: weather-app
  namespace: prod
  labels:
    app: weather-app
spec:
  type: ClusterIP
  selector:
    app: weather-app
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
